html, body{
    background-image: url(comp021.gif);
    background-repeat: repeat;
    margin:0;
    height:100%;
}

.main{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}


.header{
    margin-right: auto;
    width:25%;
    height:25%;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}

.left{
    margin-right:auto;   
    width:25%;
    height:99%;
    background-color: rgba(70, 113, 111, 0.759);
}

.right{
    margin-left:auto;   
    width:75%;
    height:99%;
}

.post{
    margin-bottom:5px;
    width:99%;
    min-height:5%;
    height:fit-content;
    background-color:  rgba(80, 0, 33, 0.856);
    display:flex;
    border:2px solid salmon;
}

.title{
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color:rgb(235, 189, 255);
}

.user{
    background-color: rgb(36, 0, 75);
    color:aqua;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    margin-left:auto;
    padding-right: 10px;
}

.bar{
    color:azure;
    margin-bottom:5px;
    min-height:5%;
    width:99%;
    height:fit-content;
    background-color:  rgba(80, 0, 69, 0.856);
    display:flex;
    border:2px solid salmon;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.content{
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}